<md-sidenav
  class="coc-sidenav"
  md-component-id="menu"
  md-is-locked-open="$mdMedia(openSideMedia)"
  md-whiteframe="1">

  <md-toolbar class="md-theme-indigo" hide-gt-sm>
    <h1 class="md-toolbar-tools">Menu</h1>
  </md-toolbar>
  <md-content>
    <md-content>
      <md-list flex>

        <md-list-item class="md-1-line" 
          ng-click="toState('index.car')" 
          ng-class="{'active':isState('index.car')}">
          <span>Controle de Carros</span>
        </md-list-item>

  </md-content>

</md-sidenav>

<style>
  .coc-sidenav{
    width: 250px;
    height: 100%;
    min-height: calc(100vh - 64px);
  }

  .coc-sidenav .active{
    background-color: rgba(158,158,158, 0.2);
  }

</style>